/* @import "tailwindcss"; */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
.container-section{
   @apply max-w-screen-2xl container mx-auto px-5 py-20;
}

@keyframes scroll {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(-100%);
   }
}
.animate-scroll {
   display: inline-flex;
   animation: scroll 15s linear infinite;
   
}



